@import "./component/style.scss";
@import "./component/header.scss";
@import "./component/footer.scss";

main{
    width: 1246px;
    height: 78px;
    margin: 0 auto;   
   
    
      #wei{   
                width: 223px;
                height: 34px;
                float: left;
                border:0px solid gray; 
                
            }  
            #text{  
                    margin-top:14px ;
                    margin-left: 152px;
                    width:203px;  
                    height:33px;  
                    line-height: 50px;  
                    padding-left:20px;  
                    font-size: 16px; 
                    border: none;
                    outline: none;
                    border-bottom: 1px solid #3e3e3e;
            }  
            #wei ul li{  
                    width:223px;  
                    height:30px;  
                    line-height: 30px;  
                    text-indent:10px;  
                    font-size: 16px;  
                    list-style: none;  
                    color: #000;
            }  
            #wei ul li a{  
                    text-decoration:none;  
                    color: #000;
            }  
            #wei ul li:hover{  
                display:block;  
                background:#ccc;  
                color:#fff;  
            } 
    
    
    
}
main h1{
    width: 213px;
    height: 30px;
    text-align: center;
   padding-top: 17px;
   float: left;
   margin-left: 500px;
}
main .shop{
    width: 66px;
    height: 26px;
    float: right;
    margin-top: 18px;
    margin-right: 88px;
}
main .shop .shop-l{
    width: 20px;
    height: 20px;
    float: left;
    margin-top: 5px;
    background: url(../static/images/ll.png) no-repeat center center;
}
main .shop .shop-r{
    width: 20px;
    height: 20px;
    float: right;
    margin-top: 5px;
    background: url(../static/images/rr.png) no-repeat center center;
    cursor: pointer;
}
main .nav{
    width: 720px;
    height: 57px;
    margin: 0 auto;
    margin-top: 28px;
    ul{
        width: 720px;
        height: 57px;
        margin-top: 20px;
        float: left;
        li{
            width: 120px;
            height: 51px;
            line-height: 40px;
            text-align: center;
            float: left;
            a{
                color: #3e3e3e;
            }
            a:hover{
                color: #b51a00;
            }
        }
    }
}
.banner{
    width: 100%;
    height: 600px;
    background: url(../static/images/6.jpg) no-repeat center center;
    margin-top: 50px;
}
.check-t{
    width: 1243px;
    height: 1240px;
    margin: 0 auto;
    background: #f9f9f9;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 60px;
    position: relative;
    top: -98px;
}    
.check-t .c-t-1{
    width: 594px;
    height: 262px;
    float: left;
    background: url(../static/images/3.jpg) no-repeat center center;
    cursor: pointer;
}
.check-t .c-t-2{
     width: 594px;
    height: 262px;
    float: right;
    background: url(../static/images/10.jpg) no-repeat center center;
    cursor: pointer;
}
.check-t .u-1{
    width: 303px;
    height: 443px;
    float: left;
    background-color: #fff;
    margin-top: 20px;
    li{
        width: 262px;
        height: 268px;
        background: url(../static/images/1.jpg) no-repeat -57px -3px;
        margin-left: 18px;
        margin-top: 20px;
    }
    p{
        font-size: 14px;
        padding-left: 20px;
    }
    p:nth-child(2){
        padding-top: 14px;
    }
    p:nth-child(4){
        padding-top: 35px;
    }
    a:nth-child(5){
        font-size: 13px;
        color: red;
        padding-left: 20px;
        
    }
    a:nth-child(3){
        display: block;
        width: 120px;
        height: 24px;
        background-color: #cca976;
        font-size: 13px;
        color: #fff;
        text-align: center;
        line-height: 24px;
        margin-left: 20px;
        margin-top: 12px;
    }
}
.check-t .u-2{
   margin-left: 3px;
    margin-right: 3px;
    li{
        background: url(../static/images/23.jpg) no-repeat -61px -3px;
    }
    
}
.check-t .u-3{
    margin-right: 3px;
     li{
        background: url(../static/images/22.jpg) no-repeat center center;
    }
    
}
.check-t .u-4{
     li{
        background: url(../static/images/2.jpg) no-repeat center center;
    }
}
.check-t .u-5{
    margin-top: 3px;
    li{
        background: url(../static/images/46.jpg) no-repeat center center;
    }
}
.check-t .u-6{ 
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
     li{
        background: url(../static/images/47.jpg) no-repeat center center;
    }
}
.check-t .u-6 p:nth-child(4){
    margin-top: 32px;
}
.check-t .u-7 p:nth-child(4){
    margin-top: 32px;
}
.check-t .u-7{
    margin-top: 3px;
       margin-right: 3px;
        li{
        background: url(../static/images/45.jpg) no-repeat center center;
    }
}
.check-t .u-8{
    margin-top: 3px;
     li{
        background: url(../static/images/21.jpg) no-repeat center center;
    }
}
.check-t .more{
    width: 78px;
    height: 27px;
    font-size: 12px;
    cursor: pointer;
    float: right;
    margin-top:50px ;
}
.b-1{
    width: 100%;
    height: 259px;
   background-image: linear-gradient(143deg, #f8de70,#e4bc40);

}
.b-1 .b-2{
    width: 1251px;
    height: 100%;
    margin: 0 auto;
    margin-top: -97px;
    background: url(../static/images/52.jpg) no-repeat center center;
}
//吐司
.ts-1{
    width: 100%;
    height: 520px;
    background-color: #f9f9f9;
    padding-top: 26px;
}
.ts-1 .more-1{
        width: 1197px;
        height: 60px;
        margin: 0 158px;
        font-size: 12px;
        line-height: 60px;
        float: right;
        text-align: right;
        cursor: pointer;
    }
.ts-1 .ts-d{
    width: 1221px;
    height: 444px;
    background-color: #f9f9f9;
    margin: 0 auto;
}

.ts-1 .ts-d .u-1{
    width: 303px;
    height: 443px;
    float: left;
    background-color: #fff;
    margin-top: 20px;
    li{
        width: 262px;
        height: 268px;
        background: url(../static/images/32.jpg) no-repeat center center;
        margin-left: 18px;
        margin-top: 20px;
    }
    p{
        font-size: 14px;
        padding-left: 20px;
    }
    p:nth-child(2){
        padding-top: 14px;
    }
    p:nth-child(4){
        padding-top: 35px;
    }
    a:nth-child(5){
        font-size: 13px;
        color: red;
        padding-left: 20px;
        
    }
    a:nth-child(3){
        display: block;
        width: 120px;
        height: 24px;
        background-color: #cca976;
        font-size: 13px;
        color: #fff;
        text-align: center;
        line-height: 24px;
        margin-left: 20px;
        margin-top: 12px;
    }
}
.ts-1 .ts-d .u-2{
    margin-right: 3px;
    margin-left: 3px;
    li{
        background: url(../static/images/25.jpg) no-repeat center center
    }
}
.ts-1 .ts-d .u-3{
    margin-right: 3px;
    p:nth-child(3){
        margin-top: 36px;
    }
     li{
        background: url(../static/images/24.jpg) no-repeat center center
    }
}
.ts-1 .ts-d .u-4{
      p:nth-child(3){
        margin-top: 36px;
    }
     li{
        background: url(../static/images/36.jpg) no-repeat -65px -3px
    }
}
//广告
.b-3{
    width: 100%;
    height: 259px;
   background-image: linear-gradient(143deg, #e9d397,#dbb866);

}
.b-3 .b-4{
    width: 1251px;
    height: 100%;
    margin: 0 auto;

    background: url(../static/images/12.jpg) no-repeat center center;
}

.ts-1 .ts-d .bg-1{
    li{
         background: url(../static/images/48.jpg) no-repeat center center;
    }
}
.ts-1 .ts-d .bg-2{
    li{
         background: url(../static/images/44.jpg) no-repeat center center;
    }
}
.ts-1 .ts-d .bg-3{
    li{
         background: url(../static/images/20.jpg) no-repeat center center;
    }
}
.ts-1 .ts-d .bg-4{
    li{
         background: url(../static/images/28.jpg) no-repeat center center;
    }
}