@import "./component/style.scss";
@import "./component/footer.scss";

header{
    width: 100%;
    height: 80px;
    .header{
        width: 1214px;
        height: 100%;
        margin: 0 auto;
        img{
            float: left;
            margin-top: 20px;
        }
    }
}

main{
    width: 100%;
    height: 516px;
    background: url(../static/images/5.jpg) no-repeat center center;
    .center{
        width: 1075px;
        height: 100%;
        margin: 0 auto;
        .wrap{
            width: 255px;
            height: 405px;
            padding: 20px 60px;
            float: right;
            margin-top: 49px;
            background: url(../static/images/another.png) no-repeat bottom center #f3f3f2; 
            .menu{
                width: 100%;
                height: 34px;
                li{
                    font-size: 13px;
                    color: #434342;
                    cursor: pointer;
                }
                li:nth-child(1){
                    float: left;
                    border-right: 1px solid #959592;
                    padding-right: 80px;
                }
                li:nth-child(2){
                    float: right;
                    text-align: right;
                }
                 .active {
                         color: #fa441f !important;
                         }

            }
            
            .main input{
                width: 217px;
                height: 31px;
                border: none;
                outline: none;
                border-bottom: 1px solid #e9e7e2;
                padding-left: 40px;
                background: url(../static/images/key.png) no-repeat left center #f3f3f3; 
            }
            .main input:nth-child(1){
             margin-top: 30px;
         }
         .main input:nth-child(2){
             margin-top: 30px;
             margin-bottom: 30px;
         }
            
              
         a{
           display: block;
           width: 250px;
           height: 50px;
           text-align: center;
           line-height: 50px;
           font-size: 16px;
           background-color: #f5411f;
           color: #fff;
           margin-top: 40px;
        }
                
            
        }
    }
}
